<h1> Albums </h1>

<ul>
	<% @albums.each do |album| %>
		<li>
			<%= link_to(album_photos_url(album)) do %>
			<%= album.title %>
			<% end %>
		</li>
	<% end %>
</ul>

<%= link_to "New Album", new_album_path %>